$box-nbr-of-items: 10;
$box__item_wh: 2em;
$box__item_bg-1: #b77d27;
$box__item_bg-2: #d8c9a5;
$box__item-speed: 0.1s;

*,
*::before,
*::after {
    margin: 0;
    // size
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    // position
    // display
    display: grid;
    // size
    &__box {
        // position
        margin: auto;
    }
    
}
    
.box {

    // position
    position: relative;
    
    // size
    width: $box__item_wh * $box-nbr-of-items;
    
    aspect-ratio: 1;
    
    // visual
    overflow: hidden; 
    
    border-radius: 50%;
    
    &.__item {
        // animation
        animation-name: move, color;
        animation-duration: 3s, 6s;
        animation-delay: calc(var(--box__item-nbr) * #{$box__item-speed});
        animation-timing-function: cubic-bezier(0.5, 1.2, 0.7, 0.5);
        animation-iteration-count:infinite;
    
      
      // color
      background-color: $box__item_bg-1;
      
      // position
      position: absolute;
      top: -100%;
      left: calc(var(--box__item-nbr) * #{$box__item_wh});
    
      // size
      height: 100%;
      width: $box__item_wh;
      border-radius: 0;
    }
}
  
@keyframes color {
    // color
    75% {
        background: $box__item_bg-2
    } to {
    }
}
  
@keyframes move {
    30% {
        // position
        top: 0
    }
    
    40% {
        // position
        top: 50%
    }
    
    100% {
        // position
        top: 100%
    }
}