.login-container {
    width: 100%;
    max-width: 768px;
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 375px;
    padding: 16px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;

    input {
        padding: 8px 8px;
        border-radius: 8px;
        border: 2px solid var(--secondary);
        color: var(--text);
        outline: none;

        &:focus {
            border: 2px solid var(--primary);
            outline: none;
        }

    }
    ::placeholder {
        color: var(--text);
    }
    
    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            padding: 8px 40px;
            border-radius: 8px;
            border: none;
            color: var(--text);
            font-weight: 700;
            outline: none;
            cursor: pointer;

            &.login {
                background-color: var(--secondary);
            }
            
            &.create-new-account {
                background-color: var(--primary);
            }
        }
    }
}