<div class="container">
    <div class="left" [ngClass]="isSideOpen ? 'show' : 'hide'">
        <div class="chevron-container" (click)="openSideBar()">
            <img [ngClass]="isSideOpen ? 'show' : 'hide' " src="assets/previous.svg" alt="Close">
        </div>
        <div class="logo-container">
            <img src="assets/logo.svg" alt="Taskly">
            <div class="brand-name">taskly</div>
        </div>

        <div class="weekly">
            <div class="title">
                <div class="text">Weekly Pinned</div>
                <div class="view-all link">View All</div>
            </div>

            <div class="content">
                <app-card></app-card>
            </div>
        </div>

        <div class="calendar-container">
            <app-calendar></app-calendar>
        </div>

    </div>
    <div class="center" [ngClass]="isSideOpen ? '' : 'expanded'">
        <div class="top">
            <div class="container-inner">
                <div class="first"><span class="bold">Today's</span> schedule</div>
                <div class="second">
                    <div class="date">
                        <div class="day">
                            {{today}}
                            <span class="current-date">{{currentDate}}</span>
                        </div>
                    </div>
                    <div class="chevron-container">
                        <img src="assets/back.svg" [ngClass]="{'disabled' : isBackDisabled}" (click)="previousDay()" alt="previous">
                        <img src="assets/front.svg" [ngClass]="{'disabled' : isNextDisabled}" (click)="nextDay()" alt="next">
                    </div>
                </div>
            </div>

            <img src="assets/logo.svg" alt="logo">
        </div>
        <div class="center-left"></div>
        <div class="right"></div>
    </div>
</div>