.container {
    width: 100dvw;
    display: flex;
    height: 100%;
    overflow: hidden;

    .left {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        background-color: var(--side);

        img {
            width: 16px;
            height: 16px;
        }

        .calendar-container {
            padding: 0 16px 16px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        &.show {
            width: 100%;
            max-width: 400px;
            transition: all ease-in var(--animation-speed);

            .chevron-container {
                background-color: var(--secondary);
                transform: scale(80%);
                visibility: visible;
            }
        }
        
        &.hide {
            transition: all ease-in-out var(--animation-speed);
            transition-delay: none;            
            transform: translateX(calc(-100% + 30px));
            background-color: var(--tertiary-bg);            
            opacity: 0.9;

            .logo-container {
                background-color: var(--tertiary-bg);
            }
            
            .weekly {
                .title {
                    background-color: var(--tertiary-bg);
                }
            }
            
            .chevron-container {
                background-color: var(--text-secondary);
                border-radius: 8px;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        .chevron-container {
            position: absolute;
            top: 28px;
            right: -24px;
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            z-index: 200;
            box-shadow: 0px 0px 12px var(--shadow);
            transition: all ease-in-out var(--animation-speed);
            cursor: pointer;
            user-select: none;

            img {
                transition: all ease-in-out var(--animation-speed);
                border-radius: 4px;
                
                &.show {
                    transform: rotate(0deg) scale(120%);
                }

                &.hide {
                    transform: rotate(180deg) scale(120%);
                }
            }
        }

        .logo-container {
            transition: all ease-in var(--animation-speed);
            display: flex;
            align-items: center;
            gap: 20px;
            position: sticky;
            top: 0;
            padding: 35px 35px;
            background-color: var(--side);
            user-select: none;

            img {
                width: 35px;
                height: 35px;
            }

            .brand-name {
                transition: all ease-in var(--animation-speed);
                font-size: 20px;
                font-weight: 700;
                color: var(--text);
            }
        }

        .weekly {
            transition: all ease-in var(--animation-speed);
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                user-select: none;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: space-between;
                position: sticky;
                top: 101.59px;
                background-color: var(--side);
                padding: 0 35px 10px;
                transition: all ease-in var(--animation-speed);

                .text {
                    transition: all ease-in var(--animation-speed);
                    color: var(--text-secondary);
                }

                .view-all {
                    transition: all ease-in var(--animation-speed);

                    font-size: 12px;
                    color: var(--primary);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .content {
                transition: all ease-in var(--animation-speed);

                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 35px;
                user-select: none;
                cursor: pointer;
            }
        }

    }

    .center {
        width: 100%;
        justify-content: space-between;
        display: flex;
        transition-duration: var(--animation-speed);
        max-width: 600px;
        margin: 35px 80px;
        &.expanded {
            max-width: 1000px;
            transform: translateX(-330px);
        }
        
        .top {
            padding: 0px;
            display: flex;
            gap: 40px;
            min-width: 400px;
            height: max-content;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            img {
                width: 55px;
                height: 55px;
            }

            .container-inner {
                display: flex;
                flex-direction: column;
            }
            .first {
                font-size: 40px;
                .bold {
                    font-weight: 700;
                }
            }

            .second {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .date {
                    font-size: 28px;
                    color: var(--dark-primary);
                }

                .chevron-container {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        border-radius: 50%;
                        box-shadow: 0px 0px 12px var(--shadow);
                        user-select: none;

                        &.disabled {
                            pointer-events: none;
                            opacity: 0.2;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 500px) {
    .container {
        .left {
            min-width: 90%;

            .hide {
                min-width: 10px;
                width: 0;
                // display: none;
            }

            &.hide {
                .chevron-container  {
                    transform: scale(80%) translateY(-15px);
                }
            }
        }

        .center {
            &.expanded {
                // transform: translate(-50%);
                margin: 65px 0;

                .top {
                    min-width: calc(100vw - 50px);
                    .container-inner {
                        width: 70%;

                        .first {
                            font-size: 24px;
                        }

                        .second {
                            .date {
                                // font: ;
                            }
                        }
                    }
                }
            }
        }
    }
}